include *
graft *
#exclude .hgtags .hgignore
exclude .gitignore
prune .hg
prune dist
prune .git
prune .github
prune venv
prune */compiled_krb
prune */*/compiled_krb
prune */*/*/compiled_krb
global-exclude .pyhist *.pyc *.pyo .*.swp *.orig
